.pageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.pageWrapper .sectionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.imageWrapper {
    flex: 1 0 60%;
    overflow: hidden;
    position: relative;
    border: 2px solid #7cc04e;
    border-radius: .25rem;
}

.imageWrapper img {
    width: 100%;
}

.textWrapper {
    flex: 1 0 40%;
    padding-left: 40px;
}

.pageWrapper .sectionWrapper:nth-child(2) .textWrapper {
    padding-left: 0;
    padding-right: 40px;
}

.textEntry {
    white-space: normal;
    margin-bottom: 8px;
    font-size: 1.1rem;
    line-height: 22px;
}

h1.textEntry {
    border-bottom: 1px solid #7cc04e;
    padding-bottom: .5rem;
    width: max-content;
}

.textWrapper ul {
    list-style: none;
    padding-left: 8px;
}

.textWrapper ul li {
    list-style: none;
    padding-left: 8px;
    margin-bottom: 8px;
}

.textWrapper ul li:before {
    content: '✓';
    margin-right: 8px;
}

@media (max-width: 480px) {
    .imageWrapper {
        flex: 1 0 100%;
    }
    .textWrapper {
        flex: 1 0 100%;
        padding: 20px;
    }
    .pageWrapper .sectionWrapper {
        flex-direction: column;
    }

    .pageWrapper .sectionWrapper:nth-child(2) .textWrapper {
        order: 2;
    }

    .pageWrapper .sectionWrapper:nth-child(2) .imageWrapper {
        order: 1;
    }
}
