.pageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
    height: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    max-width: 1200px;
}

.logoWrapper {
    width: 70%;
    overflow: hidden;
}

.logoWrapper img {
    width: 100%;
    filter: brightness(0.8);
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    justify-content: flex-start;
    font-weight: bold;
}

.heading {
    width: 100%;
    font-size: 1.1rem;
    font-weight: 700;
}

.infoWrapper div {
    margin: 12px 0;
    white-space: normal;
    font-size: 1.1rem;
}

.contactsWrapper {
    display: flex;
    flex-direction: column;
}

.contactWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2px 0;
}

.contactWrapper svg {
    margin-right: 12px;
}

.textEntry {
    white-space: normal;
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .logoWrapper {
        display: none;
    }
    .infoWrapper {
        padding: 4px;
    }
}

@media (max-width: 480px) {
    .pageWrapper {
        margin-top: 20px;
    }
    .logoWrapper {
        display: none;
    }
    .infoWrapper {
        padding: 4px;
    }
}
