html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /*background-color: rgb(27, 27, 27);*/
    /*background: linear-gradient(*/
    /*        rgba(0, 0, 0, 0.7),*/
    /*        rgba(0, 0, 0, 0.7)*/
    /*), url("../images/background.jpeg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (max-width: 480px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
}
